.ui-sticky
  width 100px
  height 100px
  background-color black
  position absolute

.ui-sticky-handle
  cursor grab
  cursor -moz-grab
  cursor -webkit-grab
  &:active
    cursor grabbing
    cursor -moz-grabbing
    cursor -webkit-grabbing
