.ui-sticky
  width 100px
  height 100px
  background-color black
  cursor grab
  cursor -moz-grab
  cursor -webkit-grab
  position absolute
  &:active
    cursor grabbing
    cursor -moz-grabbing
    cursor -webkit-grabbing
